<div id="error-messages"><%= error_messages_for(Phone.new) %></div>
<table class="def-table">
  <tbody>
  <tr>
    <th>Phone</th>
    <th>Name</th>
    <th class="actions-column"><%= link_to 'Download', phones_path({:format => 'txt'}) %></th>
  </tr>
  </tbody>
  <tbody id="phones">
  <% @phones.each do |phone| %>
    <%= render :partial => "phone", :object => phone %>
  <% end %>
  </tbody>
</table>

<h3>Create Phone</h3>
<%= form_for(Phone.new, :remote => true) do |f| %>
  <%= f.text_field :number %>
  <%= f.text_field :name %>
  <%= f.submit 'Create' %>
<% end %>

<h3>Upload Phones</h3>
<%= form_for(:upload, :url => '/phones/upload', :multipart => true) do |f| %>
  <%= f.file_field :file %>
  <%= f.submit 'Upload' %>
<% end %>

